{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Services</title>
</head>
<body>
    <table>
        <caption>Services</caption>
        <tr>
            <th>Name</th>
            <th>Time Selections</th>
            <th>Rate</th>
        </tr>
        <tbody>
        {%  for service in services %}
            <tr>
                <td>{{ service.name }}</td>
                <td>
                    {% for t in service.time_list %}
                        {{ t }} minute&nbsp;
                    {% endfor %}
                </td>
                <td>{{ service.rate }}</td>
            </tr>
        {%  endfor %}
        </tbody>

    </tr>
    </table>
</body>
</html>