{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> Reservations </title>
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/calendar.css' %}" crossorigin="anonymous">
</head>
<body>
    {% extends 'base.html' %}

    <div class="col-sm-12">
        <h1 class="text-center">Reservation</h1>
        <div class="container d-flex h-100">
          <div class="row justify-content-center">
            <div class="col-10">
              {% block main %}
              {% endblock %}
            </div>
          </div>
        </div>
    </div>


{% block js %}

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/underscore-min.js' %}"></script>
<script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}
{% block extrajs %}
{% endblock %}

  {% csrf_token %}
    <script type="text/javascript">
        // using jQuery
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

    </script>
</body>
</html>